.container {
  background-color: #e9ecef !important;
}

body {
  background-color: rgb(20, 214, 228)
}

.visualNav {
  background-color: rgb(255, 218, 3);
}

.visualNav-headline h3 {
  font-size: 20px;
}
.visualNav-plot img {
  width: 250px;
}